.App {
  text-align: center;
  margin-top: 30px;
}

h1 {
  color: rgb(35, 35, 37);
}

form {
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 0.6rem;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid wheat;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #176d1a;
  color: rgb(245, 243, 243);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

li button {
  margin-left: 10px;
  background-color: #948a89;
}
